body{
    
    margin:0;
    
    background: linear-gradient(287.56deg, #0F0C29 0%, #302B63 50%, #24243E 100%);

    box-sizing: border-box;
    
}
.poppins{
    font-family:"Poppins", sans-serif;
    font-weight: 400;

}
.flexbox{
    z-index: 1;
    
    
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;


}
.rectangle{
    position: fixed;
    background:rgba(255, 255, 255,0.1) ;
    -webkit-backdrop-filter: blur(3px);
    width: 500px;
    height: 500px;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255,0.50);
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    display:flex;
    justify-content: center;
    align-items: center;

   
    
}
.content{
    width:70%;
    height:80%;
    color:white;
  

}

.blue{
   
    background-color: #ff1170;
    width:100%;
    border-radius: 5px;
    padding:4px;
    display:flex;
    justify-content:center;
    align-items:center;
    color: rgb(255, 255, 255);
    
}
.margin{
    margin-bottom:10px;
}
.head1{
  
  font-size: 28px;
  font-weight:600;


}



.head2{
    font-size: 16px;

}
.head3{
    font-size:13px;
    
}
.head3 a{
    color: white;
}
.alt-option{
    font-size:14px;
    display: flex;
    justify-content: space-around;
    

}
.center{
    display: flex;
    justify-content: center;
    
}
input{
    width:100%;
    border-radius: 5px;
    padding:4px;
    height:20px;    

}
div .button{
    display:inline-flex;
    background-color: white;
    padding-top: 4px;
    border-radius:5px;
    min-width:90px;
    margin: 8px;
    justify-content: center;
    align-items: center;
    
}
.icon{
    height: 22px;
}

.grp{
    position: fixed;
    width:30% ;
    top: 50px;
    left: 55%;
    z-index: -1;
    
}



.grp1{
    position: fixed;
    width: 15%;
    top: 0%;
    left: 20%;
    z-index: -1;
   
    

}
.grp2{
    
    position: fixed;
    width: 15%;
    bottom: 70px;
    left: 25%;
    gap: 0px;
    opacity: 0px;
    z-index: -1;

    
}
.grp3{
    position: fixed;
    width: 8%;
    
    bottom:100px;
    left: 25%;
    gap: 0px;
    opacity: 0px;
    z-index: -1;

}
.grp4{
    position: fixed;
    width:8%;
    top:150px;
    left:26%;
    z-index: -1;
   
}
.grp5{
    position: fixed;
    width:8%;
    top:70%;
    left:65%;
    z-index: -1;
  
}
.grp6{
    position: fixed;
    width: 10%;
    top:75%;
    left:68%;
    z-index: -1;
   
}
.grp7{
    position: fixed;
    width:20%;

    left:0px;
    bottom:0px;
    z-index: -1;

}
.grp8{
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 12%;
    z-index: -1;

}
.grp9{
    position: fixed;
    background-attachment: fixed;
    width:8%;
    top:210px;
    left:22%;
    z-index: -1;
}
