<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Staff</title>
</head>
<body>
    <form  method="POST">
        {{form.hidden_tag()}}
        <b>{{form.s_name.label}}</b>   {{form.s_name()}}
        <br>
        <b>{{form.s_email.label}}</b>   {{form.s_email()}}
        <br>
        <b>{{form.password.label}}</b>   {{form.password()}}
        <br>
        <b>{{form.s_isadmin.label}}</b>   {{form.s_isadmin()}}
        <br>
        <b>{{form.s_isapproved.label}}</b>   {{form.s_isapproved()}}
        <br>
        <b>{{form.s_contact.label}}</b>   {{form.s_contact()}}
        <br>
        
        {{ form.submit() }}

    </form>
    
</body>
</html>